---
layout: post-index
title: 자바
comments: false
---

{% if site.categories.java.size > 0 %}

{% for post in site.categories.java %}
	
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><img src="{{ site.url }}/images/star.png" style="width:25px; margin-top:-10px;"></a> <a href="{{ post.link }}" title="{{ post.title }} 바로가기">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
</article><!-- /.hentry -->
	
{% endfor %}

{% else %}

<article class="hentry">
  <header>
	<h1 class="entry-title">목록이 없습니다.</h1>
  </header>
</article>

{% endif %}

{% include pagination.html %}